/* ======================================= */
/* ==============# CLEANUP =============== */
/* ======================================= */

html {
    overflow-x: visible;
    overflow-y: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

* {
    box-sizing: border-box;

    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;

    padding-block-start: 0;
    padding-block-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;

    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    text-size-adjust: inherit;
    text-decoration: inherit;
    text-transform: inherit;

    color: inherit;
}

*:focus {
    outline: none;
}

body,
table,
blockquote,
h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;

    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

hr {
    display: none;
    visibility: hidden;

    border-width: 0;
}

ul,
ol {
    font-size: inherit;
}

ul {
    list-style-type: '- ';
}

table {
    border-spacing: unset;
}