@import url("normalize.css");
@import url("cleanup.css");

@font-face {
    font-family: "FrankRuhlLibre";
    src: url('./../fonts/FrankRuhlLibre.ttf') format('truetype');
    font-weight: 200 700;
}

html {
    width: fit-content;
    transform-origin: top left;
    scroll-behavior: smooth;

    --p_width: 200mm;
    --p_height: 250mm;

    --font-size: 4.75mm;
    --line-height: 5mm;

    --m_top: calc(var(--line-height) * 2.0);
    --m_bottom: calc(var(--line-height) * 2.0);
    --m_inner: calc(var(--line-height) * 4.0);
    --m_outer: calc(var(--line-height) * 3.0);

    font-family: "FrankRuhlLibre";
    font-weight: 400;
    font-size: var(--font-size);
    line-height: var(--line-height);
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: calc(var(--p_width) * 2);
}

page {
    position: relative;

    height: var(--p_height);
    width: var(--p_width);
    padding: var(--m_top) var(--m_inner) var(--m_bottom) var(--m_outer);

    display: flex;
    flex-flow: column;

    background-color: white;
}

page:nth-of-type(even) {
    padding: var(--m_top) var(--m_outer) var(--m_bottom) var(--m_inner);
}

header,
footer {
    height: calc(var(--line-height) * 2.0);
    z-index: 1;
    visibility: hidden;
}

header>*,
footer>* {
    visibility: visible;
    width: fit-content;
}

footer {
    flex-flow: column-reverse;
}

page:nth-of-type(even) header,
page:nth-of-type(even) footer {
    align-items: end;
}

#cover dd,
#index dd {
    margin-left: 1em;
    font-style: italic;
}

#cover dd+dt,
#index dd+dt {
    margin-top: calc(var(--line-height) * 0.5);
}

#cover p {
    text-indent: calc(var(--line-height) * 0.5);
}

#cover p+p {
    margin-top: calc(var(--line-height) * 0.5);
}

header,
footer {
    font-size: 1.2em;
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

content {
    flex: 1 1 auto;
    position: relative;
}

content>* {
    z-index: 1;
    position: absolute;
}

.col1 {
    height: 100%;
    width: 145mm;
}

.col1 * {
    position: unset;
}

.col1 p {
    text-indent: calc(var(--line-height) * 0.5);
    text-align: justify;
}

.col1 p+p {
    margin-top: calc(var(--line-height) * 0.5);
}

page:nth-of-type(even) .col1 {
    align-self: end;
}


.col2 {
    height: 100%;
    width: 100%;

    column-count: 2;
    column-gap: calc(var(--line-height) * 2);
    column-fill: auto;

    font-family: "FrankRuhlLibre";
}

.col2 * {
    position: unset;
}

.col2 p {
    text-indent: calc(var(--line-height) * 0.5);
    text-align: justify;
    word-break: break-all;
    hyphens: auto;
}

.col2 p+p {
    margin-top: calc(var(--line-height) * 0.5);
}

small {
    font-size: 0.95em;
    font-style: italic;
}

@media only screen and (max-width: 750px) {
    body {
        display: unset;
    }
}

@media print {
    html {
        --p_width: 200mm;
        --p_height: 250mm;

        --font-size: 4.75mm;
        --line-height: 5mm;
    }

    @page {
        size: 200mm 250mm;
    }

    body {
        display: unset;
        width: var(--p_width);
    }

    page {
        break-after: page;
    }
}